* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Winky Rough", sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    position: relative;
}

#main {
    width: 100vw;
    height: 100vh;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5vw;
    padding: 2px 4vw;
    color: rgb(174, 73, 36);
    cursor: pointer;
}

#nav-part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
    font-size: 1.2vw;
    text-transform: uppercase;

}

#nav-part2 a:hover {
    scale: 1.07;
    transition: ease all;
    cursor: pointer;
    color: #0085FF;
}

#page {
    width: 100%;
    padding: 2vw 4vw;
    margin-top: 5px;
}

#page h3 {
    font-size: 2vw;
    text-transform: capitalize;
    color: rgb(120, 20, 67);
    font-weight: 600;
    
}

.file {
    background-color: #0085FF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    border-radius: 10px;
    padding: 8px 15px;
    margin-top: 16px;

}

.file:hover {
    cursor: pointer;
}

.file-1 {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 25px;
}

.file-1 h4 {
    font-size: 1.4vw;
    font-weight: 600;
    color: white;
}

.file-1 a {
    color: #0085FF;
    background-color: #fff;
    border-radius: 50%;
    font-size: 15px;
    padding: 0 5px;
    font-weight: 600;
}

.file-1 a:hover {
    scale: 1.08;
}

.file-2 {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 15px;
}

.file-2 .pencil {
    color: #fff;
    font-size: 18px;
}

.file-2 .bin {
    color: red;
    font-size: 18px;
    background-color: #fff;
    border-radius: 50%;
    padding: 0 5px;
}

.file-2 .bin:hover {
    color: rgb(210, 0, 0);
}

.file-2 .pencil:hover {
    scale: 1.1;
}
/* .text-area{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 100%;
    height: 100%;
} */

#head{
    background-color: #eeeeeed9;
    resize: none;
    height: 3vw;
    width: 25vw;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 5px 10px;
    border: 2px solid #cfceced9;
}
.text{
    background-color: #eeeeeed9;
    resize: none;
    height: 20vw;
    width: 30vw;
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px 10px;
    display: block;
}


.button{
    background-color: #0085FF;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    width: 20vw;
    margin-top: 15px;
    display: block;
}
.button:hover{
    background-color: #087be7;
    cursor: pointer;
}

#page h2{
    font-size: 2vw;
    font-weight: 500;
}
#page span{
    color: #087be7;
}
#page p{
    margin-top: 10px;
    font-size:4vw;
    color: #781443;
}
