<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Hisaab</title>
    <link rel="stylesheet" href="../style.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">
</head>

<body>

    <div id="main">
        <div id="nav">
            <h2 class="font-semibold text-xl">KhaataBook</h2>
            <div id="nav-part2" class="font-normal">
                <a href="/">Home</a>
                <a href="/create">Create new Hisaab</a>
            </div>
        </div>

        <div id="page">
            <h3 class="font-medium">Create new hisaab</h3>
            <div class="text-area">
                <form action="/create" class="form" method="post">
                    <textarea name="headline" id="head" placeholder="File Name"></textarea>
                    <textarea name="filedata" class="text" placeholder="Write Your Daily Hisaab Here" ></textarea>
                    <input type="submit" value="Create New Hisaab" class="button">
                </form>
            </div>
        </div>
    </div>

</body>

</html>