<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KhataBook</title>
    <link rel="stylesheet" href="../style.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div id="main">
        <div id="nav">
            <h2 class="font-semibold text-xl">KhaataBook</h2>
            <div id="nav-part2" class="font-normal">
                <a href="/">Home</a>
                <a href="/create">Create new Hisaab</a>
            </div>
        </div>

        <div id="page">
            <h3 class="font-medium">All hisaab kitaab</h3>
            <% if(files.length < 0){ %>
                <div class="mt-5">
                    <h5 class="text-gray-400">No hisaab is there.</h5>
                </div>
          <%  } else{ %>
            <% files.forEach(function(file){ %> 
                <div class="files">
                    <div class="file">
                        <div class="file-1">
                            <h4><%= file.split(".")[0] %></h4>
                            <a href="/show/<%= file %>" class="ri-arrow-right-line"></a>
                        </div>
                        <div class="file-2">
                            <a href="/edit/<%= file %>" class="ri-pencil-line pencil"></a>
                            <a href="/delete/<%= file %>" class="ri-delete-bin-line bin"></a>
                        </div>
                    </div>
                </div>
                <% }) } %>

        </div>

        
    </div>
</body>

</html>